{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">태그명</th>
        <th scope="col">작성날짜</th>
        <th scope="col">최종수정날짜</th>
    </tr>
    </thead>
    <tbody>
    {{#tagList}}
        <tr>
            <td>{{id}}</td>
            <td><a href="/posts/{{post_id}}/tags/{{id}}">{{tag_name}}</a></td>
            <td>{{created_date}}</td>
            <td>{{modified_date}}</td>
        </tr>
    {{/tagList}}
    </tbody>
</table>
<a href="/posts/{{post_id}}">포스트 보기</a>
<a href="/">시작페이지</a>
{{>layouts/footer}}