{{>layouts/header}}
<form action="/posts/new" method="post">
    <div>
        <label class="form-label">제목</label>
        <label>
            <input type="text" name="title">
        </label>
    </div>
    <div>
        <label class="form-label">내용</label>
        <label>
            <input type="text" name="content">
        </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<a href="/">시작페이지</a>
{{>layouts/footer}}