{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">내용</th>
        <th scope="col">Email</th>
        <th scope="col">작성날짜</th>
        <th scope="col">최종수정날짜</th>
    </tr>
    </thead>
    <tbody>
    {{#comment}}
        <tr>
            <td>{{id}}</td>
            <td>{{content}}</td>
            <td>{{member.email}}</td>
            <td>{{created_date}}</td>
            <td>{{modified_date}}</td>
        </tr>
    {{/comment}}
    </tbody>
</table>
<a href="/">시작페이지</a>
<a href="/comments/{{comment.id}}/edit">댓글 수정</a>
<a href="/posts/{{comment.post.id}}/comments/{{comment.id}}/delete">댓글 삭제</a>
{{>layouts/footer}}