{{>layouts/header}}
<form action="/categorys/new" method="post">
    <div>
        <label class="form-label">카테고리명</label>
        <label>
            <input type="text" name="category_name">
        </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<a href="/">시작페이지</a>
{{>layouts/footer}}