{{>layouts/header}}
<form class="container" action="/doSignUp" method="post">
    <div class="mb-3">
        <label class="form-label">Email address</label>
        <input type="text" name="email">
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" name="password">
    </div>
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" name="username">
    </div>
    <div class="mb-3">
        <label class="form-label">Nickname</label>
        <input type="text" name="nickname">
    </div>
    <div class="mb-3">
        <label class="form-label">Phone</label>
        <input type="text" name="phone">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/users">회원목록</a>
    <a href="/">시작페이지</a>
</form>
{{>layouts/footer}}