{{>layouts/header}}
{{greeting}}<br>
<a href="/doLogout">로그아웃</a>
<a href="/users">회원목록</a><br>
<a href="/blogs/new">블로그 만들기</a>
<a href="/blogs">블로그목록</a><br>
<a href="/posts/new">포스트 만들기</a>
<a href="/posts">포스트목록</a><br>
<a href="/category/new">카테고리 만들기</a>
{{>layouts/footer}}